/*

/*
.section-heading, #genomic-data {
	display: inline-block;
	float: none;
	margin: 0;
}
*/
.section-heading {
	margin-bottom: 30px;
}

#genomic-data {
	margin-left: 0;
  font-size: larger;
}

.number-box {
	margin-right: 75px;
}

.number-box, .fa.fa-gender {
    font-size: 30px;
    font-weight: 500;
}

.fa-gender {
	margin-right: 10px;
}

.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 0;
}


#Annotation {
	margin-right: 2em;
}


#species-selection {
	margin-right: 2em;
}

.custom-chart {
	margin-bottom: 20px;
}

.section-paragraph {
	margin-bottom: 20px;

}

.section-paragraph {
	line-height: 1.2;
}

 */
