.section-heading {
	margin-bottom: 30px;
}

#genomic-data {
	margin-left: 0;
  font-size: larger;
}

.number-box {
	margin-right: 75px;
}
.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 0;
}


#Annotation {
	margin-right: 2em;
}


#species-selection {
	margin-right: 2em;
}

.custom-chart {
	margin-bottom: 20px;
}

.section-paragraph {
	margin-bottom: 20px;
  line-height: 1.2;
}


